/*
* @Author: cuidezhu
* @Date:   2018-04-10 00:54:25
* @Last Modified by:   cuidezhu
* @Last Modified time: 2018-04-10 03:48:06
*/

body {
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif
}

.container {
  margin: 3% 10% 0 10%;
}

.sitename, .article-head {
  padding: 12px 16px;
  background-color: #f1f8ff;
  border: 1px solid #c8e1ff;
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.firtitle {
  font-size: 18px;
}

.article-head h1 {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  height: 25px;
}

.list-group, .blog-post-content {
  padding: 0;
  margin: 0;
  border: 1px solid #dfe2e5;
  border-top: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.list-group li {
  padding: 12px 16px;
  list-style: none;
  border-bottom: 1px solid #dfe2e5;
}

.list-group li:last-child {
  border-bottom: none;
}

.list-group li:hover {
  background-color: #f6f8fa;
  font-size: 100%;
}

.archive-item-link {
  font-size: 16px;
  color: #0366d6;
  text-decoration: none;
}

.archive-item-link:hover {
  text-decoration: underline;
}

.subtitle, .archive-item-date, .blog-post-date {
  float: right;
  color: #6a737d;
  font-size: 14px;
}

.subtitle {
  height: 25px;
  line-height: 25px;
}
.blog-post-date {
  height: 25px;
  line-height: 25px;
}

.blog-post-content>*:first-child {
  margin-top: 0 !important;
}

.blog-post-content {
  padding: 4%;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

a {
  color: #3194d0;
}

img {
  display: block;
  box-shadow: 0 0 10px #555;
  border-radius: 3px;
  max-width: 100%;
  margin: 10px auto;
  -webkit-box-shadow: 0 0 10px #555;
}
@media (min-width: 991.98px) {
  .archive-item-date {
    padding-top: 3px;
  }
}

@media (max-width: 991.98px) {
  .container {
    margin: 0;
  }
  .archive-item-date, .blog-post-date {
    float: none;
  }
}

code, kbd, pre, samp {
  font-family: Menlo,Monaco,Consolas,Courier New,monospace;
}

pre {
  background-color: #f6f8fa;
  padding: 16px;
  border-radius: 4px;
  line-height: 1.45;
  display: block;
  overflow: auto;
}

.hljs {
  background: #f6f8fa;
  padding: 0;
}

code {
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  color: #657b83;
  white-space: pre-wrap;
}

pre code {
  padding: 0;
  white-space: pre;
}

code, kbd, pre, samp {
  font-family: Menlo,Monaco,Consolas,Courier New,monospace;
}
footer {
  margin: 20px 10%;
  text-align: center;
}

footer > a {
  display: inline-block;
}