/*
* @Author: cuidezhu
* @Date:   2018-04-10 00:54:25
* @Last Modified by:   cuidezhu
* @Last Modified time: 2018-04-10 02:43:36
*/

body {
  font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, Helvetica Neue, sans-serif;
}

.container {
  margin: 3% 10%;
}

.sitename, .article-head {
  padding: 12px 16px;
  background-color: #f1f8ff;
  border: 1px solid #c8e1ff;
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-family: 
}

.firtitle {
  font-size: 18px;
}

.article-head h1 {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  height: 25px;
}

.list-group, .blog-post-content {
  padding: 0;
  margin: 0;
  border: 1px solid #dfe2e5;
  border-top: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.list-group li {
  padding: 12px 16px;
  list-style: none;
  border-bottom: 1px solid #dfe2e5;
}

.list-group li:last-child {
  border-bottom: none;
}

.list-group li:hover {
  background-color: #f6f8fa;
  font-size: 100%;
}

.archive-item-link {
  font-size: 16px;
  color: #0366d6;
  text-decoration: none;
}

.archive-item-link:hover {
  text-decoration: underline;
}

.subtitle, .archive-item-date, .blog-post-date {
  float: right;
  color: #6a737d;
  font-size: 14px;
}

.subtitle {
  height: 25px;
  line-height: 25px;
}
.blog-post-date {
  height: 25px;
  line-height: 25px;
}

.blog-post-content>*:first-child {
  margin-top: 0 !important;
}

.blog-post-content {
  padding: 4% 6%;
}