<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
      name="viewport"
    />
    <meta name="keywords" content="老崔博客，技术博客，前端，前端开发技术，全栈">
    <meta name="description" content="记录学习，知识笔记，每天提高一点点。">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="https://static.intj.top/tomorrow.min.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.intj.top/main.css"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-122652961-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())

      gtag("config", "UA-122652961-1")
    </script>
  </head>
  <body>
